.learnMore-container{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.learn-more-image{
    height: 350px;
    padding-left: 10px
}

.list {
    padding-left: 17px;
    font-size: 11px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 30px;
    color: rgb(119, 119, 119);
  }

.headline{
    color: rgb(119, 119, 119);
    font-weight: 200;
}

.words{
    margin-top: -25px;
}

.bullet-item{
    padding-bottom: 10px;
   
}

.paragraph{
    font-size: small;
    margin-left: 2px;
    color: rgb(119, 119, 119);
}

.learn-more-button {
    background-color:#2f7bb8;
    color: white;
    border: none;
    padding: 15px 30px;
    margin-top:-5px ;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
    border-radius: 3px;
  }
